<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:role="http://www.sitecore.net/xmlconfig/role/"
               xmlns:unicorn="http://www.sitecore.net/xmlconfig/unicorn/">
  <sitecore unicorn:require="Enabled">
    <unicorn>
      <configurations>
        <configuration name="Foundation.ImageCompression" description="Foundation Image Compression" dependencies="Foundation.Serialization" extends="Helix.Base">
          <!-- The path below may need adjusting -->
		  <targetDataStore physicalRootPath="$(sourceFolder)\Shared\Foundation\ImageCompression" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
	          <include name="ImageCompressionTemplates" database="master" path="/sitecore/templates/Foundation/ImageCompression" />
              <include name="ImageCompressionSettings" database="master" path="/sitecore/system/Settings/Foundation/ImageCompression" />

              <include name="ImageCompressionCommands" database="master" path="/sitecore/system/Tasks/Commands/ImageCompression" />
              <include name="ImageCompressionTasks" database="master" path="/sitecore/system/Tasks/Schedules/ImageCompression" />


              <include name="ImageCompressionChunk" database="core" path="/sitecore/content/Applications/Content Editor/Ribbons/Chunks/ImageCompression" />
              <include name="ImageCompressionStrip" database="core" path="/sitecore/content/Applications/Content Editor/Ribbons/Strips/Configure/ImageCompression" />
              
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>