<?xml version="1.0" encoding="utf-8" ?>
<configuration 
  xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement">
    <services>
      <register serviceType="Sitecore.Foundation.ImageCompression.Services.IImageCompressionService, Sitecore.Foundation.ImageCompression"
                implementationType="Sitecore.Foundation.ImageCompression.Services.TinyPngApiGateway, Sitecore.Foundation.ImageCompression"
                lifetime="Transient"/>
    </services>
  </sitecore>
</configuration>