<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:role="http://www.sitecore.net/xmlconfig/role/"
               xmlns:unicorn="http://www.sitecore.net/xmlconfig/unicorn/">
  <sitecore role:require="Standalone OR ContentManagement">
    <events>
      <event name="item:saving">
        <handler type="Site.Foundation.PageSpeed.Events.SpeedyPageOnSaveEvent, Site.Foundation.PageSpeed" method="OnItemSaving"/>
      </event>
    </events>
  </sitecore>
</configuration>