<?xml version="1.0" encoding="utf-8" ?>
<configuration 
  xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement Or ContentDelivery">
    <services>
      <register serviceType="Sitecore.Foundation.Speedy.Repositories.ICriticalCSSRepository, Sitecore.Foundation.Speedy"
                implementationType="Sitecore.Foundation.Speedy.Repositories.CriticalCSSRepository, Sitecore.Foundation.Speedy"
                lifetime="Transient"/>
      <register serviceType="Sitecore.Foundation.Speedy.Services.ICriticalGenerationGateway, Sitecore.Foundation.Speedy"
                implementationType="Sitecore.Foundation.Speedy.Services.CriticalGenerationGateway, Sitecore.Foundation.Speedy"
                lifetime="Transient"
                role:require="!Standalone"/>
      <register serviceType="Sitecore.Foundation.Speedy.Services.ICriticalGenerationGateway, Sitecore.Foundation.Speedy"
                implementationType="Sitecore.Foundation.Speedy.Services.CriticalGenerationLocal, Sitecore.Foundation.Speedy"
                lifetime="Transient"
                role:require="Standalone"/>
    </services>
  </sitecore>
</configuration>