<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:role="http://www.sitecore.net/xmlconfig/role/"
               xmlns:env="http://www.sitecore.net/xmlconfig/">
  <sitecore role:require="Standalone OR ContentManagement">
    <events>
      <event name="item:saving">
        <handler type="Sitecore.Foundation.Speedy.Events.SpeedyPageOnSaveEvent, Sitecore.Foundation.Speedy" method="OnItemSaving">
          <Database>master</Database>
          <param type="Sitecore.Foundation.Speedy.Repositories.ICriticalCSSRepository, Sitecore.Foundation.Speedy" resolve="true" />
        </handler>
      </event>
    </events>
  </sitecore>
</configuration>