<configuration xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore role:require="Standalone">
    <!--<api>
      <services>
        <configuration type="Sitecore.Services.Infrastructure.Configuration.ServicesConfiguration, Sitecore.Services.Infrastructure">
          <allowedControllers hint="list:AddController">
            <allowedController desc="CriticalApiController">Sitecore.Foundation.Speedy.Controllers.CriticalController, Sitecore.Foundation.Speedy</allowedController>
          </allowedControllers>
        </configuration>
      </services>
    </api>-->
  </sitecore>
</configuration>