<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:role="http://www.sitecore.net/xmlconfig/role/"
               xmlns:unicorn="http://www.sitecore.net/xmlconfig/unicorn/">
  <sitecore unicorn:require="On">
    <unicorn>
      <configurations>
        <configuration name="Foundation.Speedy" description="Foundation Speedy" dependencies="Foundation.Serialization" extends="Helix.Base">
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">

              <include name="SpeedyTemplates" database="master" path="/sitecore/templates/Foundation/Speedy" />
              <include name="SpeedySettings" database="master" path="/sitecore/system/Settings/Foundation/Speedy" />
              <include name="SpeedySXALayout" database="master" path="/sitecore/layout/Layouts/Foundation/Speedy" />
              <include name="SpeedyRenderings" database="master" path="/sitecore/layout/Renderings/Foundation/Speedy" />


              <include name="SpeedyCommands" database="master" path="/sitecore/system/Tasks/Commands/Speedy" />
              <include name="SpeedyTasks" database="master" path="/sitecore/system/Tasks/Schedules/Speedy" />

          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>